body {
  margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D6D6D6;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1AAEE5;
    text-align: center;
    padding: 20px 19px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #b5b5b5;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 22px;
    font-weight: bold;
  }

  .buttonstart {
    background-color: #228A08;
    border: none;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 200px;
  }

  .buttonstop {
    background-color: #E1341E;
    border: none;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 200px;
  }

  .buttonrestart {
    background-color: #1AAEE5;
    border: none;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 200px;
  }

  .buttoncreate {
    background-color: #1AAEE5;
    border: none;
    color: #ffffff;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 200px;
  }

  input[type=text] {
    width:200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #b5b5b5;
  }

  .done {
    text-decoration: line-through;
  }

  .stock {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 22px;
    font-weight: bold;
  }

  .stockcount {
    font-family: Arial, Helvetica, sans-serif;
    color: #1AAEE5;
    font-size: 22px;
    font-weight: bold;
  }

  .stockprice {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
  }

  .quoteTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 22px;
  }

  .quoteContent {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
  }